* {
  /* universal __WATCH*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed;
}
.logo {
  width: 150px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffbc40;
  padding: 15px 0px;
  font-size: 2rem;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  list-style: none;
}
/* footer */
.footer {
  background-color: lawngreen var(--cor-bg);
  color: #0a0a0a;
  padding: 30px 0;
}

.container-footer {
  width: 80%;
  margin: 0 auto;
}

.informacoes {
  display: flex;
  justify-content: space-between;
}

.informacoes a {
  display: block;
  text-decoration: none;
  color: rgb(15, 15, 15);
}

.meios-comunicacao img {
  width: 50px;
  margin: 30px 10px;
}

.meios-comunicacao .btn {
  background-color: rgb(139, 138, 138);
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.meios-comunicacao a {
  display: inline;
  text-decoration: none;
  color: #0a0909;
  border-radius: 5px;
}
.meios-comunicacao a {
  text-decoration: none;
  color: #161515;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}
.sobre_nos {
  text-align: center;
}
/*HERE! */

.cartoes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  gap: 10%;
}

.cartao {
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 50px;
  /* background-color: #3f3f3f; */
  box-shadow: 0 0 1rem rgb(207, 207, 207);
  border-radius: 200px;
}

.cartao img {
  width: 100px;
  margin-top: 1%;
  padding: 1px 10px;
}
.container {
  width: 80%;
  margin: 40px auto;
}
